<%= form_with(model: line) do |form| %>
  <% if line.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
        <% line.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.label :html_color, style: "display: block" %>
    <%= form.color_field :html_color %>
  </div>

  <div>
    <%= form.label :modified_at, style: "display: block" %>
    <%= form.date_field :modified_at %>
  </div>

  <div>
    <%= form.label :time_threshold, style: "display: block" %>
    <%= form.text_field :time_threshold %>
  </div>

  <div>
    <%= form.label :station_list, style: "display: block" %>
    <%= form.text_area :station_list, value: line.station_list.join(', ') %>
  </div>

  <div>
    <%= form.label :times_table, style: "display: block" %>
    <%= form.text_area :times_table, value: line.times_table %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
