<div id="<%= dom_id line %>">
  <p>
    <strong>Name:</strong>
    <%= line.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= line.description %>
  </p>

  <p>
    <strong>Station list:</strong>
    <%= line.stations.map {|station| station.name}.join(', ') %>
  </p>

  <p>
    <strong>Max time length:</strong>
    <%= line.max_time_length %>
  </p>


  <p>
    <strong>Start times:</strong>
    <%= line.start_times.join(', ') %>
  </p>

  <p>
    <strong>End times:</strong>
    <%= line.end_times.join(', ') %>
  </p>

</div>
