<div id="<%= dom_id line %>">
  <p>
    <strong>Name:</strong>
    <%= line.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= line.description %>
  </p>

  <p>
    <strong>Station list:</strong>
    <%= line.stations.map {|station| station.name}.join(', ') %>
  </p>

  <p>
    <strong>Modified At:</strong>
    <%= line.modified_at %>
  </p>

  <p>
    <strong>Time threshold:</strong>
    <%= line.time_threshold %>
  </p>

  <p>
    <strong>Start times:</strong>
    <%= line.times_table %>
  </p>

</div>
