<%= render partial: 'menu/menu' %>
<%= link_to "New line", new_line_path %>

<h1>Lines</h1>

<div id="lines">
  <% @lines.each do |line| %>
    <%= render line %>
    <div>
      <%= link_to "Edit this line", edit_line_url(line) %>
      <%= button_to "Destroy this line", line, method: :delete, form: {style: 'display: inline'} %>
    </div>
    <hr>
  <% end %>
</div>
