<%= form_with(model: station) do |form| %>
  <% if station.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
        <% station.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nume_intern, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :nume_de_afisat, style: "display: block" %>
    <%= form.text_field :display_name %>
  </div>

  <div id="master_station_field" style="display: block">
    <%= form.label :master_station_id, style: "display: block" %>
    <%= form.select :master_station_id, [['<ea însăși>', 'self']] + Station.order(:name).map { |station| [station.name, station.id] }, { selected: @station.master_station_id } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
