<%= render partial: 'menu/menu' %>

<h2>Lista stațiilor</h2>
<%= link_to "New station", new_station_path %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nume intern</th>
      <th>Nume de afisat</th>
      <th>Statie principala</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.id %></td>
        <td><%= station.name %></td>
        <td><%= station.display_name %></td>
        <td class="<%= station.master_station != station ? "bg-info" : "" %>"><%= station.master_station.name if station.master_station %></td>
        <td><%= link_to 'Edit', edit_station_url(station), class: 'btn btn-outline-primary' %></td>
        <td><%= button_to 'Destroy', station, method: :delete, class: 'btn btn-outline-danger' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

