<%= render partial: 'menu/menu' %>
<h1>Special days</h1>

<table class="table">
  <tr>
    <th>Day</th>
    <th>Kind</th>
    <th colspan="3">Actions</th>
  </tr>
  <% @special_days.each do |special_day| %>
    <tr>
      <td><%= special_day.day.strftime("%d-%m-%Y, %a") %></td>
      <td><%= special_day.kind_long_name %></td>
      <td><%= link_to "Edit", edit_special_day_url(special_day) %></td>
      <td><%= button_to "Destroy", special_day, method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New special day", new_special_day_path %>
