<h1>Editing stop</h1>
<%= form_with(model: @stop) do |form| %>
  <div>
    <%= form.label :line_id, style: "display: block" %>
    <%= form.select :line_id, options_for_select(Line.all.order(:name).pluck(:name, :id), @stop.line_id) %>
  <br>
  <div>
    <%= form.label :station_id, style: "display: block" %>
    <%= form.select :station_id, options_for_select(Station.all.order(:name).pluck(:name, :id), @stop.station_id) %>
  <br>
  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
