<%= render partial: 'menu/menu' %>
<%= link_to 'New stop', new_stop_url %>

<h3>Lista opririlor</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Linie</th>
      <th>Statie</th>
      <th>Created At</th>
      <th>Session</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stops.each do |stop| %>
      <tr>
        <td><%= stop.line.name %></td>
        <td><%= stop.station.name %></td>
        <td><%= stop.created_at.strftime("%A %H:%M") %></td>
        <td><%= stop.session_id %></td>
        <td><%= link_to 'Edit', edit_stop_url(stop), class: 'btn btn-outline-primary' %></td>
        <td><%= button_to 'Destroy', stop, method: :delete, class: 'btn btn-outline-danger' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
