<div id="socialButtons">
  <button id="addToHomeScreen" class="btn btn-primary btn-sm" style="display: none;"><i class="bi bi-download"></i></button>
  <button id="whatsappShare" class="btn btn-outline-success btn-sm"><i class="bi bi-whatsapp"></i></button>
  <button id="facebookShare" class="btn btn-outline-primary btn-sm"><i class="bi bi-facebook"></i></button>
  <button id="twitterShare" class="btn btn-outline-info btn-sm"><i class="bi bi-twitter-x"></i></button>
  <a href="https://6wk9a8b1.forms.app/my-blank-canvas" class="btn btn-outline-primary btn-sm" target="_blank">Părerea ta <i class="bi bi-emoji-smile"></i></a>
</div>

<div class="row d-flex align-items-end">
  <div class="col col-8">
    <%= form_tag :site_change_current_line do |form| %>
      <%= select_tag :line_id, options_for_select(Line.order(:name).map {|line| ["#{line.name} #{line.description}", line.id]}, @current_line.id),
        class: 'form-select', onchange: 'this.form.submit()' %>
    <% end %>
  </div>
</div>

<div>
  Orar orientativ <%= Time.zone.today.strftime("%d-%m-%Y") %>
  <span class="badge bg-primary"><%= @today_kind_long_name %></span>
</div>

<% if @error_message %>
  <div class="alert alert-danger"><%= @error_message %></div>
<% else %>
  <div class="table mb-0">
    <table class="table table-hover table-sm caption-top table-responsive mb-0">
      <tr>
        <th class="text-left bg-success" style="position: sticky; top: 0; left: 0; z-index: 3; border: 0px;">Stație <i class="bi bi-bus-front"></i></th>
        <th colspan="<%= @schedule.first.size %>" class="text-center bg-success" style="position: sticky; top: 0; z-index: 2; border-bottom: 0px;">Momente <i class="bi bi-clock-fill"></i></th>
      </tr>
    </table>
  </div>

  <div class="table-responsive" style="max-height: 350px; overflow-y: auto;" id="div-table-responsive">
    <table class="table table-hover table-sm caption-top table-responsive mb-0" id="schedule-table">
      <tbody>
        <% @schedule.size.times do |index_station| %>
          <% station = @current_stations[index_station] %>
          <tr>
            <%# stilul pentru coloana cu statiile %>
            <% if index_station == 0 %>
              <% td_style = "position: sticky; top: 0px; left: 0; background: #f2f2f2; z-index: 3; border-bottom: 0px;" %>
              <% td_class = "bg-warning" %>
            <% elsif index_station == @current_stations.size - 1 %>
              <% td_style = "position: sticky; bottom: 0px; left: 0; background: #f2f2f2; z-index: 3; border-bottom: 0px;" %>
              <% td_class = "bg-warning" %>
            <% else %>
              <% td_style = "position: sticky; left: 0; background: #fff; z-index: 1;" %>
              <% td_class = "" %>
            <% end %>
            <td style="<%= td_style %>" class="<%= td_class %>">
              <% if Time.zone.now.on_weekend? %>
                <%= button_tag class: 'btn btn-success disabled btn-sm py-0' do %>
                  <%= station.master_station.display_name %>
                <% end %>
              <% else %>
                <% if @last_station_confirmed_index and index_station <= @last_station_confirmed_index %>
                  <%= button_tag class: 'btn btn-success disabled btn-sm py-0' do %>
                    <%= station.name %>
                  <% end %>
                <% else %>
                  <button type="button" class="btn btn-outline-primary btn-sm py-0" data-bs-toggle="modal" data-bs-target="#modal_confirmare_stop" onclick="confirmation_modal(<%= @current_line.id %>, '<%= @current_line.name %>', <%= station.id %>, '<%= station.name %>', '<%= index_station == 0 ? "<b>PLECAT</b> din" : "<b>SOSIT</b> în" %>')">
                    <i class="bi bi-check-lg"></i> <%= station.name %>
                  </button>
                <% end %>
              <% end %>
            </td>
            <% @schedule[index_station].size.times do |index_cursa| %>
              <%# stilul pentru orele de sosire %>
              <% td_style = "" %>
              <% td_class = "" %>
              <% if index_station == 0 %>
                <% td_style = "position: sticky; top: 0px; background-color: red; z-index: 2; border: 0px; font-weight: bold;" %>
                <% td_class = "bg-warning" %>
              <% elsif index_station == @current_stations.size - 1 %>
                <% td_style = "position: sticky; bottom: 0px; background-color: red; z-index: 2; border: 0px; font-weight: bold;" %>
                <% td_class = "bg-warning" %>
              <% end %>
              <td class="text-center text-secondary <%= td_class %>" style ="<%= td_style %>">
                <% moment_estimat = @schedule[index_station][index_cursa][0] %>
                <% moment_confirmat = @schedule[index_station][index_cursa][1] %>

                <%# Stabilire mesaj pentru popover %>
                <% unless moment_confirmat.blank? %>
                  <% bs_title = moment_confirmat %>
                  <% bs_content = "Media confirmărilor de la călători." %>
                <% else %>
                  <% bs_title = moment_estimat %>
                  <% bs_content = "Calculat estimativ." %>
                <% end %>

                <a tabindex="0" class="text-decoration-none" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="<%= bs_title %>" data-bs-content="<%= bs_content %>">
                  <% unless moment_confirmat.blank? %>
                    <span class="text-success lead"><b><%= moment_confirmat %></b></span>
                  <% else %>
                    <span class="text-primary small"><%= moment_estimat %></span>
                  <% end %>
                </a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%# modal confirmare oprire autobuz %>
  <div class="modal fade" id="modal_confirmare_stop" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmare</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal_body_content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NU <i class="bi bi-x-circle-fill"></i></button>
          <%= form_tag :site_confirm_stop do |form| %>
            <%= hidden_field_tag :modal_line_id %>
            <%= hidden_field_tag :modal_station_id %>
            <button type="submit" class="btn btn-primary">Da, confirm! <i class="bi bi-check-circle-fill"></i></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% ######################################################### %>
<% # MODALELE DE INSTALARE SI INFORMARE %>
<% # IMPREUNA CU JAVASCRIPT %>
<% # [PWA] %>

<%# modal instalare aplicatie %>
<div class="modal fade" id="modal_install_app" tabindex="-1" aria-labelledby="installModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="installModalLabel">Dorești să instalezi aplicația noastră?</h1>
        <button type="button" class="btn-close btn-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Instalează aplicația și bucură-te de toate avantajele!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-dismiss" data-bs-toggle="modal" data-bs-target="#modal_install_app"><i class="bi bi-x-circle"></i> Nu încă</button>
        <button type="button" id="btn_install_app" class="btn btn-primary"><i class="bi bi-check-circle"></i> Sigur că DA!</button>
      </div>
    </div>
  </div>
</div>

<%# modal informare ca aplicatia e deja instalata %>
<div class="modal fade" id="modal_info_installed_app" tabindex="-1" aria-labelledby="infoInstalledModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="infoInstalledModalLabel">Ai instalat deja aplicația</h1>
        <button type="button" class="btn-close btn-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Se pare că <b>ai instalat</b> deja aplicația noastră, dar acum ești în browser. Experiența ta este mai plăcută <b>direct în aplicație</b>.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-dismiss" data-bs-toggle="modal" data-bs-target="#modal_info_installed_app"><i class="bi bi-hand-thumbs-up-fill"></i> Am înțeles!</button>
      </div>
    </div>
  </div>
</div>

<%# modal instructiuni Safari sub iPhone %>
<div class="modal fade" id="modal_info_safari_mobile" tabindex="-1" aria-labelledby="safariMobileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="safariMobileModalLabel">Dorești să instalezi aplicația noastră?</h1>
        <button type="button" class="btn-close btn-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Instalează aplicația și bucură-te de toate avantajele!
        <ol>
          <li>Atinge butonul <strong>Share</strong> (<i class="bi bi-box-arrow-up"></i>) din bara de navigare a Safari.</li>
          <li>Selectează opțiunea <strong>Adaugă pe ecranul principal.</strong></li>
        </ol>
        Apoi o vei putea folosi direct de pe ecranul principal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-dismiss" data-bs-toggle="modal" data-bs-target="#modal_info_safari_mobile"><i class="bi bi-hand-thumbs-up-fill"></i> OK!</button>
      </div>
    </div>
  </div>
</div>

<%# modal instructiuni Safari sub macOS %>
<div class="modal fade" id="modal_info_safari_mac" tabindex="-1" aria-labelledby="safariMacModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="safariMacModalLabel">Dorești să instalezi aplicația noastră?</h1>
        <button type="button" class="btn-close btn-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Instalează aplicația și bucură-te de toate avantajele!<br />Iată cum trebuie să faci:</p>
        <ol>
          <li>În bara de meniu Safari din colțul stânga-sus, selectează <strong>Fișier</strong> și apoi <strong>Adaugă în Dock.</strong></li>
          <li>Alternativ, poți atinge butonul <strong>Share</strong> (<i class="bi bi-box-arrow-up"></i>) din bara de navigare a Safari și apoi <strong>Adaugă în Dock.</strong></li>
          <li>După instalare, aplicația va apărea apoi în Dock-ul tău și o vei putea deschide direct.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-dismiss" data-bs-toggle="modal" data-bs-target="#modal_info_safari_mac"><i class="bi bi-hand-thumbs-up-fill"></i> OK!</button>
      </div>
    </div>
  </div>
</div>

<script>
  <%# toata logica pentru instalarea aplicatiei PWA %>
  <%# Detectare daca este instalata: pornim de la premisa ca este %>
  <%# si invalidam daca pe Android se ruleaza beforeinstallprompt %>
  <%# Dupa un timp scurt verificam daca Safari raporteaza ca nu e instalata %>
  <%# Apoi, in functie de situatie, aratam unul din cele 4 modale Bootstrap %>
  <%# ATENTIE - totul se face exact pe browserele dorite (whitelist!) %>

  let deferredPrompt; <%# promptul de instalare care apare pe Chrome %>
  let app_is_installed = true; <%# pornim de la aceasta premisa, neaparat! %>
  <%# modalul de invitare la instalare %>
  let modal_install             = new bootstrap.Modal(document.getElementById('modal_install_app'));
  let modal_info_safari_mobile  = new bootstrap.Modal(document.getElementById('modal_info_safari_mobile'));
  let modal_info_safari_mac     = new bootstrap.Modal(document.getElementById('modal_info_safari_mac'));
  let modal_info_installed_app  = new bootstrap.Modal(document.getElementById('modal_info_installed_app'));

  function isSafariMobile() {
    return <%= browser.safari? and browser.platform.ios? %>;
  }

  function isSafariMac() {
    return <%= browser.safari? and browser.platform.mac? %>;
  }

  function isPureChrome() {
    return <%= browser.chrome? %>;
  }

  document.addEventListener('DOMContentLoaded', function() {
    <%# Pornim executia dupa un timp scurt de la pornire  %>
    <%# (sa avem variabila "app_is_installed" setata de "beforeinstallprompt") %>
    setTimeout(function() {
      <%# verificam daca suntem pe Safari si (nu este instalata SAU suntem in browser) %>
      <%# Safari NU are o metoda de a verifica daca aplicatia e instalata daca nu suntem in ea! %>
      <%# (verificarea pe Android se face automat prin evenimentul beforeinstallprompt) %>
      if ((isSafariMobile() || isSafariMac()) && navigator.standalone === false) {
        app_is_installed = false;
      }

      if (!app_is_installed)
      {
        <%# afisam butonul de "descarcare" %>
        <%# (el este deja asignat pe unul din modaluri) %>
        addButton = document.getElementById('addToHomeScreen');
        addButton.style.display = "inline";
        if (<%= session[:app_was_installed] == true %>)
          <%# Chrome sub Android mai vechi raporteaza incorect aplicatia ca nefiind instalata... %>
          <%# pana la accesarea PWA instalate, nici macar nu o raporteaza ca instalata... %>
          addButton.style.display = "none";

        <%# in functie de platforma, afisam unul din cele 3 modaluri %>
        <% if Time.zone.now >= session[:user_config_next_reminder] %>
          if (isPureChrome())
            if (<%= session[:app_was_installed] != true %>)
              modal_install.show();
          else
            if (navigator.standalone === false) <%# Safari %>
            {
              if (isSafariMobile())
                modal_info_safari_mobile.show();
              else
                if (isSafariMac())
                  modal_info_safari_mac.show();
            }
        <% end %>
      }
      else
      {
        <%# Daca (aplicatia e instalata si suntem in Chrome) %>
        //if (window.matchMedia('(display-mode: standalone)').matches == false && isPureChrome())
        //  modal_info_installed_app.show();
      }
    }, 1500);
  });

  <%# Daca app NU e instalata, sub Android sau Chrome pe desktop, acest eveniment va fi lansat %>
  <%# Evenimentul apare atat la intrarea pe pagina, cat si dupa ce userul da "cancel" in promptul de instalare %>
  <%# ATENTIE - Chrome pe Android vechi, pana la accesarea PWA instalate, evenimentul va tot rula... %>
  window.addEventListener('beforeinstallprompt', (e) => {
    if (isPureChrome())
    {
      app_is_installed = false; <%# daca acest eveniment se lanseaza, aplicatia nu e instalata %>
      <%# Prevent the default behaviour of whatever browser and OS, %>
      <%# altfel se va intampla doar atat: apare promptul prima data dupa un gest, %>
      <%# apoi intervine perioada de "cooldown" de cateva zile %>
      e.preventDefault(); 
      deferredPrompt = e; <%# prompt-ul de instalare aplicatie %>

      <%# E necesar ca userul sa interactioneze intai cu un buton %>
      <%# pentru a-i putea aparea promptul de instalare - asa functioneaza PWA %>
      <%# Abia aici legam buttonul sa deschida promptul de instalare %>
      addButton = document.getElementById('btn_install_app');
      addButton.addEventListener('click', () => {
        deferredPrompt.prompt();
        modal_install.hide();
      });
    }
  });

  <%# Dupa instalare, se ruleaza acest eveniment, si ascundem butonul %>
  window.addEventListener('appinstalled', () => {
    addButton = document.getElementById('addToHomeScreen');
    addButton.style.display = "none";
    app_is_installed = true;
  });

  <%# Butonul de "download" manual al aplicatiei %>
  addButton = document.getElementById('addToHomeScreen');
  addButton.addEventListener('click', () => {
    if (isPureChrome())
      modal_install.show(); <%# Show the modal inviting the user to install %>
    if (isSafariMobile())
      modal_info_safari_mobile.show(); <%# Show the modal with info %>
    if (isSafariMac())
      modal_info_safari_mac.show(); <%# Show the modal with info %>
  });

  <%# Butoanele de inchidere modaluri (le consideram "dismiss") %>
  document.querySelectorAll('.btn-dismiss').forEach(button => {
    button.addEventListener('click', () => {
      const url = '/site/dismiss_button'; <%# Retrieve the URL from the data attribute %>
      <%# Make a background request %>
      fetch(url);
    });
  });
</script>
<% ######################################################### %>

<script>
  <%# afisare modal de confirmare oprire autobuz %>
  function confirmation_modal(line_id, line_name, station_id, station_name, kind) {
    document.getElementById("modal_body_content").innerHTML = 'Confirmi că autobuzul <b>' + line_name + '</b> a ' + kind + ' stația <b>' + station_name + '</b>?';
    document.getElementById("modal_line_id").value = line_id;
    document.getElementById("modal_station_id").value = station_id;
  }

  <%# memoram culoarea default (din variabila CSS) %>
  if (typeof default_bg_color === 'undefined') {
    default_bg_color = getComputedStyle(document.querySelector(".table-hover tbody tr")).getPropertyValue('--bs-table-bg').trim();
  }
  odd_columns_bg_color = "#f2f2f2"

  function color_table() {
    <%# Reset background color on all cells %>
    document.querySelectorAll('.table-hover tbody tr td').forEach(cell => cell.style.setProperty('background-color', default_bg_color));
    <%# Color all cells in even columns %>
    document.querySelectorAll('.table tbody tr td:nth-child(even)').forEach(row => row.style.setProperty("background-color", odd_columns_bg_color));
  }

  color_table();
</script>

<script>
  <%# ***** Functii utilitare pentru tabel ***** %>
  <%# Colorare rand si coloana pe celula selectata %>
  document.querySelectorAll(".table-hover tbody tr").forEach(row => {
    row.addEventListener("click", function(e){
      color_table();
      <%# Color the selected row %>
      document.querySelectorAll('.table-hover tbody tr td').forEach(cell => {
        if (cell.parentElement == row) 
          cell.style.setProperty('background-color', 'var(--bs-info)');
      });
      <%# Color the selected column %>
      const cellIndex = e.target.closest('td').cellIndex;
      if (cellIndex > 0)
      {
        const rows = row.parentElement.rows;
        for (let i = 0; i < rows.length; i++) {
          rows[i].cells[cellIndex].style.backgroundColor = 'var(--bs-info)';
        }
      }
    });
  });

  <%# Scroll to table cell %>
  function scrollToCell()
  {
    return null;
    const row = 8; <%# Target row (1-based index) %>
    const col = 3; <%# Target column (1-based index) %>

    const table = document.getElementById("schedule-table");
    const cell = table.rows[row]?.cells[col];

    if (cell) {
      cell.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" });
      cell.style.backgroundColor = "yellow";
      cell.classList.add("bg-warning");
    }
  }

  <%# automatically update the height of schedule table %>
  function updateMaxHeight() {
    const table = document.getElementById('schedule-table');
    const rect = table.getBoundingClientRect();
    
    <%# Distance from the top of the table to the top of the viewport %>
    const distanceFromTop = rect.top;
    
    <%# Height of the viewport (browser window) %>
    const windowHeight = window.innerHeight;

    <%# Distance from the top of the table to the bottom of the screen %>
    const distanceToBottom = windowHeight - distanceFromTop;
    document.getElementById('div-table-responsive').style.maxHeight = '' + distanceToBottom + 'px';
  }
</script>

<script>
  <%# bindings %>
  window.addEventListener('load', updateMaxHeight);
  window.addEventListener('resize', updateMaxHeight);
  window.addEventListener('load', scrollToCell);
  window.addEventListener('resize', scrollToCell);

  <%# Bootstrap - initialize all popovers %>
  document.addEventListener('DOMContentLoaded', function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    popoverTriggerList.forEach(function (popoverTriggerEl) {
      new bootstrap.Popover(popoverTriggerEl);
    });
  });

  <%# Social Media buttons %>
  const url = encodeURIComponent(window.location.href); <%# Get the current page URL %>
  const text = encodeURIComponent("Orarul autobuzelor din Slobozia");
  document.getElementById('whatsappShare').addEventListener('click', () => {
    window.open(`https://wa.me/?text=${text} ${url}`, '_blank');
  });
  document.getElementById('facebookShare').addEventListener('click', () => {
    window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}`, '_blank');
  });
  document.getElementById('twitterShare').addEventListener('click', () => {
    window.open(`https://twitter.com/intent/tweet?text=${text}&url=${url}`, '_blank');
  });
</script>
