<% if Time.zone.now.on_weekend? %>
  <div class="alert alert-danger">ATENȚIE - programul afișat este pentru cursele din timpul săptămânii!<br>Dar lucrăm să implementăm și programul de weekend!</div>
<% end %>

<div class="row">
  <label for="line_id" class="form-label">Linia:</label>
</div>
<div class="row d-flex align-items-end">
  <div class="col col-8 col-md-5">
    <%= form_tag :site_change_current_line do |form| %>
      <%= select_tag :line_id, options_for_select(Line.order(:name).map {|line| ["#{line.name} #{line.description}", line.id]}, @current_line.id),
                  class: 'form-select', onchange: 'this.form.submit()' %>
    <% end %>
  </div>
</div>

<div>
  Orarul estimativ al autobuzelor din Slobozia<br>
  pentru linia <%= @current_line.name %> <b><%= @current_line.description %></b><br>
  pentru cursele din cursul săptămânii<br>
</div>
<div class="table-responsive bg-primary" style="max-height: 350px; overflow-y: auto; padding: 2px;">
  <table class="table table-hover table-sm caption-top table-responsive mb-0" id="schedule-table">
    <thead>
      <tr>
        <th class="border border-dark text-center" style="position: sticky; top: 0; left: 0; background: #f2f2f2; z-index: 3;">Stație <i class="bi bi-bus-front"></i></th>
        <th colspan="<%= @schedule.first.size %>" class="text-center border border-dark" style="position: sticky; top: 0; background: #f2f2f2; z-index: 2;">Momente <i class="bi bi-clock-fill"></i></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @schedule.size.times do |index_station| %>
        <% station = @current_stations[index_station] %>
        <tr class="<%= "border-primary" if index_station == 0 %>">
          <%# stilul pentru coloana cu statiile %>
          <% if index_station == 0 %>
            <% style = "position: sticky; top: 30px; left: 0; background: #f2f2f2; z-index: 3;" %>
          <% elsif index_station == @current_stations.size - 1 %>
            <% style = "position: sticky; bottom: 0px; left: 0; background: #f2f2f2; z-index: 3;" %>
          <% else %>
            <% style = "position: sticky; left: 0; background: #fff; z-index: 1;" %>
          <% end %>
          <td style="<%= style %>">
            <% if Time.zone.now.on_weekend? %>
              <%= button_tag class: 'btn btn-success disabled btn-sm py-0' do %>
                <%= station.name %>
              <% end %>
            <% else %>
              <% if @last_station_confirmed_index and index_station <= @last_station_confirmed_index %>
                <%= button_tag class: 'btn btn-success disabled btn-sm py-0' do %>
                  <%= station.name %>
                <% end %>
              <% else %>
                <button type="button" class="btn btn-outline-primary btn-sm py-0" data-bs-toggle="modal" data-bs-target="#modal_confirmare_stop" onclick="confirmation_modal(<%= @current_line.id %>, '<%= @current_line.name %>', <%= station.id %>, '<%= station.name %>')">
                  <i class="bi bi-check-lg"></i> <%= station.name %>
                </button>
              <% end %>
            <% end %>
          </td>
          <% @schedule[index_station].size.times do |index_cursa| %>
            <%# stilul pentru ore %>
            <% if index_station == 0 %>
              <% style = "position: sticky; top: 30px; background-color: #e0e0e0; z-index: 2;" %>
            <% elsif index_station == @current_stations.size - 1 %>
              <% style = "position: sticky; bottom: 0px; background-color: #e0e0e0; z-index: 2;" %>
            <% else %>
              <% style = "" %>
            <% end %>
            <td class="text-center text-secondary" style ="<%= style %>">
              <% moment_estimat = @schedule[index_station][index_cursa][0] %>
              <% moment_confirmat = @schedule[index_station][index_cursa][1] %>

              <%# Stabilire mesaj pentru popover %>
              <% unless moment_confirmat.blank? %>
                <% bs_title = moment_confirmat %>
                <% bs_content = "Media confirmărilor de la călători." %>
              <% else %>
                <% bs_title = moment_estimat %>
                <% bs_content = "Calculat estimativ." %>
              <% end %>
              <a tabindex="0" class="text-decoration-none <%= "fw-bold" if index_station == 0 or index_station == @current_stations.size - 1 %>" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="<%= bs_title %>" data-bs-content="<%= bs_content %>">
                <% unless moment_confirmat.blank? %>
                  <span class="text-success lead"><b><%= moment_confirmat %></b></span>
                <% else %>
                  <span class="text-primary small"><%= moment_estimat %></span>
                <% end %>
              </a>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_confirmare_stop" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmare</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_body_content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NU <i class="bi bi-x-circle-fill"></i></button>
        <%= form_tag :site_confirm_stop do |form| %>
          <%= hidden_field_tag :modal_line_id %>
          <%= hidden_field_tag :modal_station_id %>
          <button type="submit" class="btn btn-primary">Da, confirm! <i class="bi bi-check-circle-fill"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // afisare modal de confirmare
  function confirmation_modal(line_id, line_name, station_id, station_name) {
    document.getElementById("modal_body_content").innerHTML = 'Confirmi că în acest moment linia <b>' + line_name + '</b> este în stația <b>' + station_name + '</b>?';
    document.getElementById("modal_line_id").value = line_id;
    document.getElementById("modal_station_id").value = station_id;
  }

  // pastram culoarea default (din variabila CSS)
  if (typeof default_bg_color === 'undefined') {
    default_bg_color = getComputedStyle(document.querySelector(".table-hover tbody tr")).getPropertyValue('--bs-table-bg').trim();
  }
  odd_columns_bg_color = "#f2f2f2"

  function color_table() {
    // Reset background color on all cells
    document.querySelectorAll('.table-hover tbody tr td').forEach(cell => cell.style.setProperty('background-color', default_bg_color));
    // Color all cells in even columns
    document.querySelectorAll('.table tbody tr td:nth-child(even)').forEach(row => row.style.setProperty("background-color", odd_columns_bg_color));
  }

  color_table();

  // Add click event listener to each row in the table body
  document.querySelectorAll(".table-hover tbody tr").forEach(row => {
    row.addEventListener("click", function(e){
      color_table();
      // Color the selected row
      document.querySelectorAll('.table-hover tbody tr td').forEach(cell => {
        if (cell.parentElement == row) 
          cell.style.setProperty('background-color', 'var(--bs-info)');
      });
      // Color the selected column
      const cellIndex = e.target.closest('td').cellIndex;
      if (cellIndex > 0)
      {
        const rows = row.parentElement.rows;
        for (let i = 0; i < rows.length; i++) {
          rows[i].cells[cellIndex].style.backgroundColor = 'var(--bs-info)';
        }
      }
    });
  });

  // Initialize all popovers
  document.addEventListener('DOMContentLoaded', function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    popoverTriggerList.forEach(function (popoverTriggerEl) {
      new bootstrap.Popover(popoverTriggerEl);
    });
  });

  // Scroll to table cell
  document.addEventListener("DOMContentLoaded", () => {
    const row = 8; // Target row (1-based index)
    const col = 25; // Target column (1-based index)

    const table = document.getElementById("schedule-table");
    const cell = table.rows[row]?.cells[col];

    if (cell) {
      cell.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" });
      cell.style.backgroundColor = "yellow";
    }
  });
</script>
