<div class="row d-flex align-items-end">
  <div class="col col-1">
    <label for="line_id" class="form-label">Linia:</label>
  </div>
  <div class="col col-3 col-md-2">
    <%= form_tag :site_change_current_line do |form| %>
      <%= select_tag :line_id, options_for_select(Line.order(:name).map {|line| [line.name, line.id]}, current_line.id),
                  class: 'form-select', onchange: 'this.form.submit()' %>
    <% end %>
  </div>
</div>

<br>

<%# stabilim pe care intervale avem macar un stop pentru macar o statie %>
<%# pentru a afisa coloana in tabel sau nu %>
<% valid_intervals = [] %>
<% @res.first[1].size.times do |i| # coloana din tabel %>
  <% current_line.stations.each do |station| %>
    <% if @res[station.id][i] %>
      <% valid_intervals << i %>
    <% end %>
  <% end %>
<% end %>
<% valid_intervals = valid_intervals.uniq.sort %>

<table class="table table-striped table-info table-sm caption-top table-responsive">
  <caption class="text-center">
    Orarul estimativ al autobuzelor din Slobozia <br>
    pentru linia <%= current_line.name %> pentru azi 
    <%= Date.today.strftime("%d-%b-%Y") %>
  </caption>
  <thead>
    <tr>
      <th role="col">Confirmare</th>
      <th role="col">Stație</th>
      <% if valid_intervals.size > 0 %>
        <th colspan="<%= valid_intervals.size %>" class="text-center">Momente</th>
      <% end %>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% current_line.stations.each_with_index do |station, index| %>
      <tr>
        <td>
          <% extra_class = "btn-success" %>
          <% if @last_station_confirmed_index and index <= @last_station_confirmed_index %>
            <%= button_tag class: 'btn btn-info disabled' do %>
              <i class="bi bi-check-lg"></i>
            <% end %>
          <% else %>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_confirmare_stop" onclick="confirmation_modal(<%= current_line.id %>, '<%= current_line.name %>', <%= station.id %>, '<%= station.name %>')">
              <i class="bi bi-check-lg"></i>
            </button>
          <% end %>
        </td>
        <td>
          <%= station.name %>
        </td>
        <% 24.times do |i| %>
          <% if valid_intervals.include? i %>
            <td>
              <% if @res[station.id][i] %>
                <% hour = @res[station.id][i] / 60 %>
                <% minute = @res[station.id][i] - 60*hour %>
                <%= "%02d" % hour %>:<%= "%02d" % minute %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modal_confirmare_stop" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmare</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_body_content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NU <i class="bi bi-x-circle-fill"></i></button>
        <%= form_tag :site_confirm_stop do |form| %>
          <%= hidden_field_tag :modal_line_id %>
          <%= hidden_field_tag :modal_station_id %>
          <button type="submit" class="btn btn-primary">Da, confirm! <i class="bi bi-check-circle-fill"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmation_modal(line_id, line_name, station_id, station_name) {
    document.getElementById("modal_body_content").innerHTML = 'Confirmi că în acest moment linia <b>' + line_name + '</b> este în stația <b>' + station_name + '</b>?';
    document.getElementById("modal_line_id").value = line_id;
    document.getElementById("modal_station_id").value = station_id;
  }
</script>

