<div class="row d-flex align-items-end">
  <div class="col col-2">
    <label for="line_id" class="form-label">Linia:</label>
  </div>
  <div class="col col-8 col-md-5">
    <%= form_tag :site_change_current_line do |form| %>
      <%= select_tag :line_id, options_for_select(Line.order(:name).map {|line| ["#{line.name} #{line.description}", line.id]}, @current_line.id),
                  class: 'form-select', onchange: 'this.form.submit()' %>
    <% end %>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-hover table-sm caption-top table-responsive">
    <caption class="text-center">
      Orarul estimativ al autobuzelor din Slobozia<br>
      pentru linia <%= @current_line.name %> <b><%= @current_line.description %></b><br>
      pentru azi <%= Time.zone.today.strftime("%d-%b-%Y") %>
    </caption>
    <thead>
      <tr>
        <th role="col" class="border border-dark text-center">Stație <i class="bi bi-bus-front"></i></th>
        <th colspan="<%= @schedule.first.size %>" class="text-center border border-dark">Momente <i class="bi bi-clock-fill"></i></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% @schedule.size.times do |index_station| %>
        <% station = @current_stations[index_station] %>
        <tr>
          <td>
            <% extra_class = "btn-success" %>
            <% if @last_station_confirmed_index and index_station <= @last_station_confirmed_index %>
              <%= button_tag class: 'btn btn-success disabled btn-sm' do %>
                <i class="bi bi-check-lg"></i> <%= station.name %>
              <% end %>
            <% else %>
              <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_confirmare_stop" onclick="confirmation_modal(<%= @current_line.id %>, '<%= @current_line.name %>', <%= station.id %>, '<%= station.name %>')">
                <i class="bi bi-check-lg"></i> <%= station.name %>
              </button>
            <% end %>
          </td>
          <% @schedule[index_station].size.times do |index_cursa| %>
            <td class="text-center text-secondary">
              <% moment_estimat = @schedule[index_station][index_cursa][0] %>
              <% moment_confirmat = @schedule[index_station][index_cursa][1] %>
              <% unless moment_confirmat.blank? %>
                <span class="text-success lead"><b><%= moment_confirmat %></b></span>
              <% else %>
                <span class="text-primary small"><%= moment_estimat %></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_confirmare_stop" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Confirmare</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal_body_content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NU <i class="bi bi-x-circle-fill"></i></button>
        <%= form_tag :site_confirm_stop do |form| %>
          <%= hidden_field_tag :modal_line_id %>
          <%= hidden_field_tag :modal_station_id %>
          <button type="submit" class="btn btn-primary">Da, confirm! <i class="bi bi-check-circle-fill"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  // afisare modal de confirmare
  function confirmation_modal(line_id, line_name, station_id, station_name) {
    document.getElementById("modal_body_content").innerHTML = 'Confirmi că în acest moment linia <b>' + line_name + '</b> este în stația <b>' + station_name + '</b>?';
    document.getElementById("modal_line_id").value = line_id;
    document.getElementById("modal_station_id").value = station_id;
  }

  // pastram culoarea default (din variabila CSS)
  if (typeof default_bg_color === 'undefined') {
    default_bg_color = getComputedStyle(document.querySelector(".table-hover tbody tr")).getPropertyValue('--bs-table-bg').trim();
  }
  odd_columns_bg_color = "#f2f2f2"

  function color_table() {
    // Reset background color on all cells
    document.querySelectorAll('.table-hover tbody tr td').forEach(cell => cell.style.setProperty('background-color', default_bg_color));
    // Color all cells in even columns
    document.querySelectorAll('.table tbody tr td:nth-child(even)').forEach(row => row.style.setProperty("background-color", odd_columns_bg_color));
  }

  color_table();

  // Add click event listener to each row in the table body
  document.querySelectorAll(".table-hover tbody tr").forEach(row => {
    row.addEventListener("click", function(e){
      color_table();
      // Color the selected row
      document.querySelectorAll('.table-hover tbody tr td').forEach(cell => {
        if (cell.parentElement == row) 
          cell.style.setProperty('background-color', 'rgba(var(--bs-info-rgb), 0.5)');
      });
      // Color the selected column
      const cellIndex = e.target.cellIndex;
      if (cellIndex > 0)
      {
        const rows = row.parentElement.rows;
        for (let i = 0; i < rows.length; i++) {
          rows[i].cells[cellIndex].style.backgroundColor = 'rgba(var(--bs-info-rgb), 0.5)';
        }
      }
    });
  });

</script>

